@font-face {
  font-family: "zabka";
  src: url("./FontsFree-Net-ergonomique-bold.ttf") format("truetype");
}

$body-background: #e8f5e9; // Soft green
$header-background: #1b5e20; // Dark green
$header-color: #ffffff; // White
$content-background: #ffffff; // White
$table-header: #0d4b10; // Medium green
$table-border: #c8e6c9; // Light green
$table-odd: #f1f8e9; // Very light green
$table-even: #e8f5e9; // Slightly darker very light green
$table-first: #388e3c; // Light green
$table-second: #81c784; // Medium green
$table-third: #aed581; // Dark green
$footer-background: $header-background; // Dark green
$footer-color: #afc694; // White
$footer-link: #d6e5d2; // Soft green
$button-background: $table-first; // Medium green
$button-hover: $table-second; // Light green
$button-text-shadow: $table-header; // Medium green (or adjust as needed)
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $body-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  min-height: 100vh;
  header {
    background-color: $header-background;
    color: $header-color;
    text-align: center;
    flex-direction: row;
    h1 {
      font-size: 3rem;
      padding: 0;
      font-family: "zabka";
      display: inline-block;
    }
    .nawias {
      position: relative;
      right: 1.75em;
      top: 0.6em;
      transform: rotate(0.25turn);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: stretch;
    max-width: 1200px;
    padding: 20px;
    background-color: $content-background;
    .body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .left {
        min-width: 450px;
        width: 450px;
        flex-grow: 1;
      }
      .right {
        min-width: 500px;
        width: 500px;
        flex-grow: 1;
      }
    }
  }
  table {
    align-self: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    border-collapse: collapse;
    th,
    td {
      padding: 10px;
      border: 1px solid $table-border;
    }
    th {
      background-color: $table-header;
      color: white;
    }
    tr:nth-child(odd) {
      background-color: $table-odd;
    }

    #gold {
      background-color: $table-first;
    }
    #silver {
      background-color: $table-second;
    }
    #bronze {
      background-color: $table-third;
    }
  }
  button {
    background-color: $button-background;
    border-radius: 28px;
    border: 1px solid $button-text-shadow;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px $button-text-shadow;
  }
  button:hover {
    background-color: $button-hover;
    border-color: $button-background;
  }
  button:active {
    position: relative;
    top: 1px;
  }

  #footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $footer-background;
    justify-content: center;
    color: $footer-color;
    padding: 0.5em;
    align-items: center;
    p {
      padding: 0em;
      margin: 0.2em;
      margin-right: 0;
    }
    a {
      color: $footer-color;
      text-decoration: none;
      display: flex;
      text-align: center;
      align-content: center;
      align-items: center;
      img {
        height: 1.3em;
        filter: invert(92%) sepia(6%) saturate(1497%) hue-rotate(39deg)
          brightness(85%) contrast(86%);
      }
    }
  }
}
